In [1]:
import pandas as pd
import numpy as np

In [162]:
datadf = pd.read_csv('./책속으로.csv')
datadf2 = pd.read_csv('./책속으로2.csv')

In [163]:
datadf

,0,0.1,1,2,3
0,http://www.yes24.com/Product/Goods/17364,처음은 황금의 시대였다. 이 시대에는 관리도 없었고 법률도 없었다...형벌도 알지 ...,"바다도 없고 땅도 없고 만물을 덮는 하늘도 없었을 즈음 자연은, 온 우주를 둘러보아...",NaN,NaN
1,http://www.yes24.com/Product/Goods/57202,NaN,NaN,NaN,NaN
2,http://www.yes24.com/Product/Goods/1377188,NaN,NaN,NaN,NaN
3,http://www.yes24.com/Product/Goods/1387489,NaN,NaN,NaN,NaN
4,http://www.yes24.com/Product/Goods/1387490,NaN,NaN,NaN,NaN
...,...,...,...,...,...
456,http://www.yes24.com/Product/Goods/103012737,NaN,NaN,NaN,NaN
457,http://www.yes24.com/Product/Goods/12993404,NaN,NaN,NaN,NaN
458,http://www.yes24.com/Product/Goods/15112001,NaN,NaN,NaN,NaN
459,http://www.yes24.com/Product/Goods/29333925,NaN,NaN,NaN,NaN
460,http://www.yes24.com/Product/Goods/29333749,NaN,NaN,NaN,NaN

In [164]:
datadf[datadf['0'] == 'http://www.yes24.com/Product/Goods/13144087']

                                               0  0.1    1    2    3
248  http://www.yes24.com/Product/Goods/13144087  NaN  NaN  NaN  NaN

In [165]:
df = pd.concat([datadf[:248], datadf2])

In [166]:
df.loc[df['0.1'] == 'h', ['0.1', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '40', '41', '42', '43']] = None

In [167]:
df

,0,0.1,1,2,3,4,5,6,7,8,...,34,35,36,37,38,39,40,41,42,43
0,http://www.yes24.com/Product/Goods/17364,처음은 황금의 시대였다. 이 시대에는 관리도 없었고 법률도 없었다...형벌도 알지 ...,"바다도 없고 땅도 없고 만물을 덮는 하늘도 없었을 즈음 자연은, 온 우주를 둘러보아...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://www.yes24.com/Product/Goods/57202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://www.yes24.com/Product/Goods/1377188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://www.yes24.com/Product/Goods/1387489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://www.yes24.com/Product/Goods/1387490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,http://www.yes24.com/Product/Goods/103012737,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,http://www.yes24.com/Product/Goods/12993404,소설의 종말에 대하여 말하는 것은 서구 작가들의 기우에 지나지 않는다. 동유럽이나 ...,비는 사 년 십일 개월 이틀 동안 내렸다. 부슬비라도 내릴 때면 날씨가 개이는 것을...,마꼰도 사람들이 기억력이 회복된 것을 축하하는 사이 호세 아르까디오 부엔디아와 멜키...,"고독한 두 연인은 만년의 시간들, 무자비하게 흘러만 가는 불길한 시간들의 흐름을 거...","건강이 회복되어 가느라 머릿속이 아른아른할 때, 아우렐리아노 부엔디아 대령은 레메디...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,http://www.yes24.com/Product/Goods/15112001,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,http://www.yes24.com/Product/Goods/29333925,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,http://www.yes24.com/Product/Goods/29333749,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
df = df.drop(['8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '40', '41', '42', '43'], 1)

In [169]:
df

,0,0.1,1,2,3,4,5,6,7
0,http://www.yes24.com/Product/Goods/17364,처음은 황금의 시대였다. 이 시대에는 관리도 없었고 법률도 없었다...형벌도 알지 ...,"바다도 없고 땅도 없고 만물을 덮는 하늘도 없었을 즈음 자연은, 온 우주를 둘러보아...",NaN,NaN,NaN,NaN,NaN,NaN
1,http://www.yes24.com/Product/Goods/57202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://www.yes24.com/Product/Goods/1377188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://www.yes24.com/Product/Goods/1387489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://www.yes24.com/Product/Goods/1387490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
208,http://www.yes24.com/Product/Goods/103012737,None,None,None,None,None,None,None,None
209,http://www.yes24.com/Product/Goods/12993404,소설의 종말에 대하여 말하는 것은 서구 작가들의 기우에 지나지 않는다. 동유럽이나 ...,비는 사 년 십일 개월 이틀 동안 내렸다. 부슬비라도 내릴 때면 날씨가 개이는 것을...,마꼰도 사람들이 기억력이 회복된 것을 축하하는 사이 호세 아르까디오 부엔디아와 멜키...,"고독한 두 연인은 만년의 시간들, 무자비하게 흘러만 가는 불길한 시간들의 흐름을 거...","건강이 회복되어 가느라 머릿속이 아른아른할 때, 아우렐리아노 부엔디아 대령은 레메디...",NaN,NaN,NaN
210,http://www.yes24.com/Product/Goods/15112001,None,None,None,None,None,None,None,None
211,http://www.yes24.com/Product/Goods/29333925,None,None,None,None,None,None,None,None
212,http://www.yes24.com/Product/Goods/29333749,None,None,None,None,None,None,None,None

In [170]:
df = df.reset_index(drop = True)

In [171]:
title = pd.read_csv('./제목.csv')

In [172]:
df = pd.concat([title['0'], df], 1)

In [173]:
df.columns = ['title', 'link', '0', '1', '2', '3', '4', '5', '6', '7']

In [174]:
df[df['7'].notnull()]

,title,link,0,1,2,3,4,5,6,7
360,모래의 여자,http://www.yes24.com/Product/Goods/235588,"Got a one way ticket to the blues,\n부르고 싶으면 얼마...",여자가 밥상을 들고 왔다. 반찬은 생선 조림에 조개 국물이었다. 그야말로 해변의 식...,불현듯 새벽빛 슬픔이 북받친다....... 서로 상처를 핥아 주는 것도 좋겠지. 그...,그러나 물론 꾀병도 쉬운 것은 아니었다. 마치 너무 바짝 감아 튕겨나갈 듯한 태엽을...,"<잠꼬대 같은 소리 그만 하십시오.>\n<아, 흥분하지 말고, 잘 들어봐. 고소공포...","""하지만, 밖에 나가봐야, 딱히 할 일도 없고......""\n""걸어다니면 되잖아!""...","<잠꼬대 같은 소리 그만 하십시오.>\n<아, 흥분하지 말고, 잘 들어봐. 고소공포...","""하지만, 밖에 나가봐야, 딱히 할 일도 없고......""\n""걸어다니면 되잖아!""..."

In [175]:
df.loc[360, ['6', '7']] = None

In [176]:
df[df['6'].notnull()]

,title,link,0,1,2,3,4,5,6,7
302,거미 여인의 키스,http://www.yes24.com/Product/Goods/133755,"'행복하다가 모든 것을 다 잃어버리면 더욱 고통스럽지 않을까?'\n\n'몰리나, 한...",'하지만 이성이 이해할 수 없는 가슴속의 이성이 있지. 아주 유명한 프랑스의 철학자...,"유럽 여자, 똑똑한 여자, 아름다운 여자, 교양 있는 여자, 국제정치에 관해 지식이...",'거미여인의 키스'는 대중문화적 요소를 사용하면서 동시에 게릴라와 동성애자를 통해 ...,"가면을 쓰고 있어, 역시 은빛이야, 하지만... 가엾게도... 움직일 수가 없어, ...","「발렌틴 , 난 지쳤어, 고통 받고 참는 게 이젠 지겨워 죽겠어. 내 몸 안이 모두...","「발렌틴 , 난 지쳤어, 고통 받고 참는 게 이젠 지겨워 죽겠어. 내 몸 안이 모두...",NaN
335,변신 시골의사,http://www.yes24.com/Product/Goods/17359,처음 두 주일동안에 그의 부모는 그에게로 돌아올 염두조차 못 내었고 누이가 지금 하...,"'이보세요, 이게 뒈졌어요, 저기 누워 있는데요, 아주 영 뒈졌다니까요!'\n\n잠...",'아!' 쥐가 말했다. '세상이 날마다 좁아지는구나. 처음에는 하도 넓어서 겁이 났...,"그의 등에 박힌 썩은 사과아, 온통 부드러운 먼지로 덮인 곪은 언저리도 그는 어느덧...",그러나 그러는 대신 그는 속절없이 애만 쓰고 있다. 아직도 그는 가장 깊은 내궁의 ...,<작은 우화>\n\n'아!' 쥐가 말했다. '세상이 날마다 좁아지는구나. 처음에는 ...,<작은 우화>\n\n'아!' 쥐가 말했다. '세상이 날마다 좁아지는구나. 처음에는 ...,NaN
345,고도를 기다리며,http://www.yes24.com/Product/Goods/172368,"포조 : 이젠 울음을 그쳤군. 그러니까 당신이 저놈을 대신에게 된 거구려, 이 세상...",자코메티의 조각과 같은 철사형으로...... . 서구에서는 대체로 십자가 모양의 형...,실은.....아시다시피..... 암 당연하지. 당연하고 말고. 내가 당신들이라도 그...,블라디미르 확실한 건 이런 상황에선 시간이 길다는 거다. 그리고 그 긴 시간 동안 ...,블라디미르 : 여자들은 무덤 위에 걸터앉아 무서운 산고를 겪고 구덩이 밑에서는 일꾼...,블라디미르 아직은 가지 마시오.\n\n포조 (발을 멈추며) 난 가겠소.\n\n블라디...,블라디미르 아직은 가지 마시오.\n\n포조 (발을 멈추며) 난 가겠소.\n\n블라디...,NaN

In [177]:
df.loc[302, '6'] = None

In [178]:
df.loc[335, ['5', '6']] = None

In [179]:
df.loc[345, '6'] = None

In [181]:
df.loc[[302, 335, 345]]

,title,link,0,1,2,3,4,5,6,7
302,거미 여인의 키스,http://www.yes24.com/Product/Goods/133755,"'행복하다가 모든 것을 다 잃어버리면 더욱 고통스럽지 않을까?'\n\n'몰리나, 한...",'하지만 이성이 이해할 수 없는 가슴속의 이성이 있지. 아주 유명한 프랑스의 철학자...,"유럽 여자, 똑똑한 여자, 아름다운 여자, 교양 있는 여자, 국제정치에 관해 지식이...",'거미여인의 키스'는 대중문화적 요소를 사용하면서 동시에 게릴라와 동성애자를 통해 ...,"가면을 쓰고 있어, 역시 은빛이야, 하지만... 가엾게도... 움직일 수가 없어, ...","「발렌틴 , 난 지쳤어, 고통 받고 참는 게 이젠 지겨워 죽겠어. 내 몸 안이 모두...",None,NaN
335,변신 시골의사,http://www.yes24.com/Product/Goods/17359,처음 두 주일동안에 그의 부모는 그에게로 돌아올 염두조차 못 내었고 누이가 지금 하...,"'이보세요, 이게 뒈졌어요, 저기 누워 있는데요, 아주 영 뒈졌다니까요!'\n\n잠...",'아!' 쥐가 말했다. '세상이 날마다 좁아지는구나. 처음에는 하도 넓어서 겁이 났...,"그의 등에 박힌 썩은 사과아, 온통 부드러운 먼지로 덮인 곪은 언저리도 그는 어느덧...",그러나 그러는 대신 그는 속절없이 애만 쓰고 있다. 아직도 그는 가장 깊은 내궁의 ...,None,None,NaN
345,고도를 기다리며,http://www.yes24.com/Product/Goods/172368,"포조 : 이젠 울음을 그쳤군. 그러니까 당신이 저놈을 대신에게 된 거구려, 이 세상...",자코메티의 조각과 같은 철사형으로...... . 서구에서는 대체로 십자가 모양의 형...,실은.....아시다시피..... 암 당연하지. 당연하고 말고. 내가 당신들이라도 그...,블라디미르 확실한 건 이런 상황에선 시간이 길다는 거다. 그리고 그 긴 시간 동안 ...,블라디미르 : 여자들은 무덤 위에 걸터앉아 무서운 산고를 겪고 구덩이 밑에서는 일꾼...,블라디미르 아직은 가지 마시오.\n\n포조 (발을 멈추며) 난 가겠소.\n\n블라디...,None,NaN

In [185]:
df = df.drop(['6', '7'], 1)

In [189]:
df.to_csv('./책속문구.csv', index = False, encoding = 'utf-8-sig')